@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(20,15,15);
    font-family: 'Roboto', sans-serif;
}
* {
    color: lightgray;
}

/* header */
header.container {
    max-width: 720px;
}
header {
    padding: 0 20px;
}
header>div {
    height: 90px;
}
header #marvelxlego,
header #ironman-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
header img {
    max-height: 70px;
}
header i {
    font-size: 20px;
    margin: 0 25px;
}
header #ironman-logo img {
    filter: invert(0.9);
}


/* struttura dell'immagine */
.art {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    background-color: rgb(240,240,240);
    outline: 15px solid black;
    margin-bottom: 30px;
}
.box {
    min-height: 5px;
    /* background-color: lightgrey; */
    /* border: 1px solid rgba(0,0,0,0.1); */
}
/* colori immagine */
.blue {
    background-color: rgb(15,61,97);
}
.black {
    background-color: rgb(20,15,15);
}
.red {
    background-color: rgb(220,23,11);
}
.darkred {
    background-color: rgb(140,20,19);
}
.brown {
    background-color: rgb(80,43,35);
}
.lightbrown {
    background-color: rgb(120,43,25);
}
.grey {
    background-color: grey;
}
.beige {
    background-color: rgb(155,128,98);
}
.white {
    background-color: white;
}
.lightgrey {
    background-color: lightgrey;
}
.darkorange {
    background-color: rgb(178,86,17);
}
.sand {
    background-color: rgb(228,198,151);
}
.gold {
    background-color: rgb(202,148,51);
}
.orange {
    background-color: rgb(182,116,66);
}
.lightblue {
    background-color: rgb(106,133,152);
}

/* animazione occhi */
.eyes {
    animation: blinking-eyes 2s ease-in infinite;
}
@keyframes blinking-eyes {
    10% {background-color: rgb(133, 162, 199);}
    11% {background-color: #fff;}
    20% {background-color: rgb(133, 162, 199);}
    21% {background-color: #fff;}
    100% {background-color:rgb(133, 162, 199);}
}

/* targhetta */
.art>.row:nth-last-child(3)>.col-3:nth-child(4) .col-4 {
    position: relative;
}
.targhetta {
    position: absolute;
    width: 100%;
    background-image: url(../img/targhetta.png);
    background-size: cover;
    min-height: 30px;
}

/* footer */
footer #credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}
footer #credits h2 {
    font-weight: 200;
    font-size: 17px;
}

@media screen and (min-width: 414px) {
    .art {
        width: 384px;
        height: 384px;
    }
    .box {
        min-height: 8px;
    }
}
@media screen and (min-width: 576px) {
    .art {
        width: 552px;
        height: 552px;
    }
    .box {
        min-height: 11.5px;
    }
    footer #credits h2 {
        font-size: 22px;
    }
}
@media screen and (min-width: 768px) {
    header>div {
        height: 120px;
    }
    header #marvelxlego {
        justify-content: flex-start;
    }
    header #ironman-logo {
        justify-content: flex-end;
    }
    .art {
        width: 720px;
        height: 720px;
    }
    .box {
        min-height: 15px;
    }
}




/* debug */
/* prove reticolato vecchio */
.debug .art>.row:nth-child(even) .col-3:nth-child(odd) .box {
    /* background-color: #fff; */
}
.debug .art>.row:nth-child(odd) .col-3:nth-child(even) .box {
    /* background: #fff; */
}

/* croce reticolato */
.debug .art>.row:nth-child(24) .box,
.debug .art>.row:nth-child(25) .box,
.debug .col-3:nth-child(2) .col-1:nth-child(12) .box,
.debug .col-3:nth-child(3) .col-1:nth-child(1) .box {
    /* background-color: lightblue; */
}